.page-enter-active, .page-leave-active {
    transition: opacity .5s
  }
  .page-enter, .page-leave-active {
    opacity: 0
  }

html {
  transition: all .5s;
}

.align-container {
  height: calc(100vh - 100px);
}

main.v-main.background {
  background-image: url('~assets/pattern.png');
  background-repeat: repeat;
  background-size: 300px;
}

